@using eDrugs.ApplicationCore.Enums
@model DrugMfgInfoViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>DrugMfgInfo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="DrugId" class="control-label"></label>
                <select asp-for="DrugId" asp-items="Model.Drugs" class="form-control"></select>
                <span asp-validation-for="DrugId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeOfDrugs" class="control-label"></label>
                <select asp-for="TypeOfDrugs" asp-items="Html.GetEnumSelectList<TypeOfDrugs>()" class="form-control"></select>
                <span asp-validation-for="TypeOfDrugs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitAmount" class="control-label"></label>
                <input asp-for="UnitAmount" class="form-control" />
                <span asp-validation-for="UnitAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mrp" class="control-label"></label>
                <input asp-for="Mrp" class="form-control" />
                <span asp-validation-for="Mrp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MfgDate" class="control-label"></label>
                <input asp-for="MfgDate" type="date" class="form-control" />
                <span asp-validation-for="MfgDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpDate" class="control-label"></label>
                <input asp-for="ExpDate" type="date" class="form-control" />
                <span asp-validation-for="ExpDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
